/*class para textos*/

.centrado { 
text-align: center;
}

.margintop{
	margin-top: 20px;

}

.marginbottom{
	margin-bottom: 20px;
}


/*FIN class para textos*/

.caja { 
	width: 40%;
	display: inline-block;
}

.cajabox{
	border: 1px solid black;
}

.topimg {
	width:100%;
	height:auto;
}

.centerimg {
	width:100%;
	height:auto;
}

.toppng {
	margin-top:-60%;
	margin-left:29%;
/*	position: absolute;*/
/*	height:auto;*/
}

.toppngcontainer {
/*	width:100%;*/
	height:auto;
	position: absolute;
}

.gris {
	background-color: #dddddd;
}

.full-width {
	width: 100%;
}

.jumby {
padding:10px!important;
margin-left:-5px;
width:190px;
}

.jumbies{
margin-left:50%;
padding-left:0px;
width:0px;
}

.jumbiecenterer{
width:390px;
margin-left:-195px;
}

.interjumby {
padding:0px!important;
width:0px;
margin:10px;
background-color:transparent;
/* border:solid black 1px; */
}

#cajafoto {
background-image:url('../img/header.jpg');
width: 100%;
}

.puntito{
font-family:'Lucida Casual', 'Comic Sans MS';
font-size:42px;
}



.facebook{
width:32px;
height:32px;
text-align:center;
border-radius:4px;
background-color:#fff;
color:#7E8B8D;
margin-top:-50px;
right: 165px;
position:absolute;
}

.facebook:hover{
color:black;
}

.twitter{
width:32px;
height:32px;
text-align:center;
border-radius:4px;
background-color:#fff;
color:#7E8B8D;
margin-top:-50px;
right: 125px;
position:absolute;
}

.twitter:hover{
color:black;
}

.entradas{
width: 91px;
height:32px;
text-align:center;
border-radius:4px;
background-color:#fff;
color:#7E8B8D;
margin-top:-50px;
right:25px;
position:absolute;
line-height: 32px;
}

.entradas:hover{
color:#E74C3C;
}

.facebooklarge{
width: 102px;
height: 30px;
text-align: center;
border-radius: 5px;
background-color: #2980B9;
color: white;
display:inline-block;
position:absolute;
left:0px;
margin-top:1px;
}

.facebooklarge:hover{
color:black;
}

.chulotype{
width: 126px;
height: 32px;
text-align: center;
border-radius: 5px;
background-color: black;
color: #7E8B8D;
display:inline-block;
position:absolute;
left:127px;
}

.twitterlarge{
width: 82px;
height: 30px;
text-align: center;
border-radius: 5px;
background-color: #3499DB;
color: white;
display:inline-block;
position:absolute;
left:278px;
margin-top:1px;
}

.twitterlarge:hover{
color:black;
}

.chulotype:hover{
color:black;
}

.bottomlinks{
height:75px;
position:relative;
padding:0px;
}

.bottomlinks-centercontainer{
margin-top:24px;
margin-left:50%;
position:absolute;
}

.bottomlinks-centerer{
margin-left:-185px;
position:absolute;
}

.nav>li>a {
position: relative;
display: block;
padding: 0px 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #696969;
}

/*Carousel*/

.carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
margin-bottom: 0px;
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
	margin-bottom: 100px;
}
#myCarousel .nav a {
    border-radius:0px;
}




@media (max-width:768px) {
	.topimg{
	width:170%;
	margin-left: -70%;
	height:auto;
	}

/*	.centerimg{
	width:100%;
	margin-left: -70%;
	height:auto;
	}*/

	.toppng{
	margin-top:-58%;
	margin-left:16%;
	width:68%;
	}

}

@media (max-width:640px) {

.jumbiecenterer{
margin-left:-189px;
}

.interjumby {
margin:6px;
}

}

@media (max-width:415px) {

.jumby {
padding:8px!important;
margin-left:-2px;
width:175px;
}

.jumbiecenterer{
margin-left:-176px;
}

.interjumby {
margin:3px;
}

.chulotype{
left:117px;
}

.twitterlarge{
left:258px;
}

.bottomlinks-centerer{
margin-left:-171px;
}

#forminput{
margin-left:0px;
}

}